{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}  
<div class="row">   
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Sebastian Esperon</h2>   
        <p>Nacido en Buenos Aires, Argentina. Actualmente resido en Islas Baleares. Soy Analista de Sistemas y Programador Python.</p>
        <p>Tengo certificaciones Microsoft y actualmente estoy realizando cursos de IA</p>
    </div>
</div>
{% endblock %}

